body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #ff4d4d;
}

.logo {
    color: white;
    margin-right: 20px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.nav-left a:hover {
    text-decoration: underline;
}

/* Search */
.search-form {
    display: flex;
}

.search-form input {
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.search-form button {
    padding: 6px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #ff4d4d;
    cursor: pointer;
    transition: 0.3s;
}

.search-form button:hover {
    background-color: #ffe6e6;
}


.hero {
    text-align: center;
    padding: 5px 5px;
    background-color: #ffe6e6;
}

.hero h1 {
    margin-bottom: 10px;
    font-size: 32px;
}

.hero p {
    font-size: 16px;
}


.produk {
    padding: 40px;
    text-align: center;
}

.produk-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    margin: 10px 0 5px;
}

.card p {
    color: #ff4d4d;
    font-weight: bold;
}

.card button {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background-color: #cc0000;
}


footer {
    text-align: center;
    padding: 15px;
    background-color: #ff4d4d;
    color: white;
    margin-top: 40px;
}
