body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #ff4d4d;
}

.logo {
    color: white;
    margin-right: 20px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-left a:hover {
    text-decoration: underline;
}

.search-form input {
    padding: 6px;
    border-radius: 4px;
    border: none;
}

.search-form button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #ff4d4d;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 5px 5px;
    background-color: #f8ffe6d0;
}

.hero h1 {
    margin-bottom: 10px;
}

.produk {
    padding: 40px;
    text-align: center;
}

.produk-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.card button {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #cc0000;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #ff4d4d;
    color: white;
    margin-top: 40px;
}
